@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my simple Todo app for making todos and completing them. Your Todos are here, <a href="todotasks">Check em out</a>.</p>
</div>
